[submodule "qgis/sbanks_plugin/vendor/sbanks"]
	path = qgis/sbanks_plugin/vendor/sbanks
	url = https://github.com/atsyplenkov/sbanks.git
[submodule "arcgis/vendor/sbanks"]
	path = arcgis/vendor/sbanks
	url = https://github.com/atsyplenkov/sbanks.git
